#pip install instaloader
#pip install instalooter

speechrecognition
pyaudio
pyttsx3
pypiwin32
gTTS
wolframalpha
speech_recognition
playsound
selenium
pytube
notify2

instalooter==2.4.3
instaloader==4.4.4